.tasks {
  margin-top: 4rem;
}

.info {
  height: 1.25rem;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 1.5rem;
  
}

.created {
  color: var(--blue);
}

.created span {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  background: var(--gray-500);
}

.done {
  color: var(--purple);
}

.done span {
  margin-left: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  background: var(--gray-500);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.empty {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  color: var(--gray-300);
  text-align: center;
}

.empty svg {
  opacity: 0.3;
}

.empty p {
  font-weight: 700;
}